<div class="councillor <%= municipalityId %> <%= positionId %>" id="<%= id %>" style="background-image: url('<%= photo %>'); background-size: cover;">
    <div class="photo">
        <!--<img src="<%= photo %>" />-->
    </div>
    <div class="info">
    <h3><%= fullname %></h3>
    <h4><%= municipality %></h4>
    </div>
</div>
