<div class="councillor <%= municipalityId %> <%= positionId %>" id="<%= id %>" data-id="<%= id %>" style="background-image: url('/ui/img/thumbs/<%= id %>.jpg'); background-size: cover;">
    <div class="position-icon">
    <% if ( position === "Yes" ) { %>
    <i class="glyphicon glyphicon-ok-circle"></i>
    <% } else if ( position === "No" ) { %>
    <i class="glyphicon glyphicon-remove-circle"></i>
    <% } else if ( position === "Undecided" ) { %>
    <i class="glyphicon glyphicon-question-sign"></i>
    <% } else if ( position === "Did not respond" ) { %>
    <i class="glyphicon glyphicon-exclamation-sign"></i>
    <% } %>
    </div>
    <div class="info">
        <div>
        <h3><%= fullname %></h3>
        <h4><%= municipality %></h4>
        </div>
    </div>
</div>
